<div>	
	<form>
  		<div class="form-group">
  			<p id="testo_iniziale"></p>
  			<br/>
    		<label for="label_motivazione">Motivazione cancellazione</label>
   			<textarea class="form-control" id="motivazione_cancellazione"></textarea>
   			<br/>
   			<p id="testo_finale"></p>
   		</div>
  </div>
</div>